# Arquivos do sistema operacional
.DS_Store

# Diretórios gerados pelo build
/build
/captures
.externalNativeBuild
.cxx

# Arquivos de configuração do Gradle
.gradle
local.properties

# Arquivos de configuração do IntelliJ/Android Studio
*.iml
.idea/

# Arquivo específico do Android Studio
*.hprof

# Pasta gerada pelo Android Studio para arquivos nativos
/.cxx/
